* {
    box-sizing: border-box;
  }
 /* Create three equal columns that floats next to each other */
  .column {
   text-align: justify;
    color: white;
    float: left;
    width: 33.3%;
    padding: 30px;
    height: 250px;
  }
  .column:hover { background-color: slategray;}
